gym==0.20.0
matplotlib==3.6.2
ml-collections==0.1.1
mujoco==2.3.2
mujoco-py==2.1.2.14
notebook==6.5.2
numba==0.56.4
numpy==1.23.5
omegaconf==2.3.0
pandas==1.5.2
Pillow==9.4.0
POT==0.8.2
protobuf==3.20.1
pyglet==1.5.27
ray==2.2.0
scikit-learn==1.2.0
scipy==1.10.0
stable-baselines3==1.6.2
tensorboard==2.12.0
tensorboardX==2.5.1
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.64.1
